/* reuseable classes */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flexable-container{
    display: flex;
    align-items: center;
    margin: 50px 120px;
}

.half-width{
    width: 50%;
    margin: 0 40px;
}
.two-third-width{
    width: 66.66%;
    margin: 0 20px;
}
.one-third-width{
    width: 33.33%;
    margin: 0 10px;
    padding: 30px 20px;
    border-radius: 15px;
}

.half-width img{
    width: 100%;
}

.one-third-width img{
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}
h2{
    font-size: 30px;
    margin: 25px 0;
}
p{
    font-size: 18px;
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF6F59;
    border-radius: 5px;
    
}

/* first section */

.orange-color{
    color: #f7b267;
}
#explore-botton{
    margin-bottom: 20px;
}
#more-about{
    margin-top: 35px;
}

/* second-section */
.second-section{
    margin-top: 70px;
}
.second-section img{
    width: 50%;
}
.second-section h1{
    text-align: center;
}
.mission{
    background-color: #f0efeb;
}
.vission{
    background-color: #d6e2e9;
}
.goals{
    background-color: #fde2e4;
}
/* fiveth section */
.fiveth-section h1, .fiveth-section h2 {
    text-align: center;
}
.website-section div{
    background-color: white;
    padding: 0;
    box-shadow: 4px 4px 12px rgb(207, 207, 207);
    border-top: 6px solid #FF6F59;
    overflow: hidden;
}
.website-section img{
    margin-bottom: -5px;
}
/* footer section */
.footer-section{
    margin-top: 150px;
    color: white;
    background-color: #01161e;
    padding: 10px 50px;
    text-align: center;
}
